.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.dataEtry {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100vw;
}

.dataDisplay {
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 100vw;
}
