.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
}

.dataEtry {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vw;
}

.dataDisplay {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vw;
  background-color: grey;
}
